*{
  margin: 0;
  padding: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  /* margin: 20px; */
}

.grid_container .grid_item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.grid_item {
  background-color: white;
  text-align: center;
  border: 1px solid #ccc;
  transition: 1s;
}

.grid_item img {
  max-width: 100%;
  height: auto;
}

.color_overlay {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.grid_item:hover .color_overlay::before {
  content: "";
  background: #000;
  opacity: 0.6;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.checkbox {
  width: 1.3rem;
  height: 1.5rem;
  cursor: pointer;
}

.grid_item_checkbox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: none;
}

.grid_item:hover .grid_item_checkbox {
  display: block;
}

._checked {
  position: relative;
  background: #a7a7a7;
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .grid_container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
